h3{
    margin: 5px;
    padding-top: 20px;
    font-style: oblique;  
}

input[type=text],input[type=email],select{
    width: 250px;
    margin-bottom:4px;
    margin-top:4px;
}
span{
    color: red; 
    margin-left: 4px;
    font-family:cursive;
}
label{
 padding: 3px;
 float:right;
 width: 200px;
 font-style: oblique;
}
form {
    margin-left: 15px;
}
p{
    margin-left: 10px;
    font-style: oblique;
}



/*END header style*/